<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">

  <listeners>
        <listener class-name="Utilities.TestReportListener"/>
         <listener class-name="io.qameta.allure.testng.AllureTestNg"/>   

    </listeners>
    
  <test name="FuntionalityTest">

    <classes> 

<class name="TestCases.TC01_CreateSavingsAccountWith5000AmtVerify"/>
<class name="TestCases.TC07_IssuingCheckbookFortheCreatedSavingsAccountAndVerifying"/>
<class name="TestCases.TC08_IssusingCheckbookForCreatedSavingsAccountAndCancelling"/>
<class name="TestCases.TC09_AddingInventoryMomentBetweenLocations"/>
<class name="TestCases.TC10_AddingTheInventoryMomentAndModifying"/>
<class name="TestCases.TC11_InquireTheModifiedInventoryMoment"/>
<class name="TestCases.TC12_CancelTheInventoryWhichIsAdded"/>
<class name="TestCases.TC13_CancelTheInventoryWhichIsVerified"/>
<class name="TestCases.TC14_AddingTotalFreezefortheCreatedSavingsAccount"/>
<class name="TestCases.TC15_UnfreezeTheAccountWhichIsTotalFreezed"/>
<class name="TestCases.TC16_AddCreditFreezeToTheCreatedSavingsAccount"/>
<class name="TestCases.TC17_UnfreezeTheAccountWhichIsCreditFreezed"/>
<class name="TestCases.TC25_DeletetheAddedTransactionAsCashNormalPayment"/>
<class name="TestCases.TC39_DoCashDepositForCreatedCashCreditAccount"/>
<class name="TestCases.TC40_DoCashDepositForCreatedOverdraftAccount"/>
<class name="TestCases.TC43_DoCashWithdrawalFromCreatedSavingsAccount"/>
<class name="TestCases.TC44_DoCashWithdrawalForOverdraftAccount"/>
<class name="TestCases.TC45_DoCashWithdrawalForCreatedCashCreditAccount"/>
<class name="TestCases.TC48_DoCashWithdrawalfromExistedSavingsAccount"/>
<class name="TestCases.TC49_MarkLienToTheCreatedSavingsAccount"/>
<class name="TestCases.TC50_ModifytheLienWhichIsAdded"/>
<class name="TestCases.TC56_CreatingCurrentAccountAndVerificationOfCurrent"/>
<class name="TestCases.TC57_ModifyingTheCreatedCurrentAccountAndVerifying"/>

</classes>
  </test>
</suite>
