<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="none">
 <listeners>
        <listener class-name="Utilities.TestReportListener"/>
         <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
   <test name="Test" thread-count="1">
    <classes>
<class name="TestCases.TC49_LodgetheOutwardBill"/>
<class name="TestCases.TC50_AcceptTheOutwardbillWhichIsLodge"/>
<class name="TestCases.TC51_AmendTheOutwardBillWhichISAccepted"/>
<class name="TestCases.TC52_FreeDeliveryOfOutwardBillWhichIsLodge"/>
<class name="TestCases.TC53_ModifyTheOutwardBillAccountWhichIsFreedelivered"/>
<class name="TestCases.TC54_InquiretheExportbillWhichIsModified"/>
<class name="TestCases.TC55_CancellingTheAccountWhichIsModifiedExportBill"/>
<class name="TestCases.TC56_DelinkTheLodgeOutwardBill"/>
<class name="TestCases.TC57_ProtestTheExportBillWhichIsInquired"/>
<class name="TestCases.TC58_CloseTHeOutwardBillWhichIsLodge"/>


</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
